body, html {
  font-family: "Clarkson", "Helvetica Nue", sans-serif;
  color: #333;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}


.cover-page, #results-page, .quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.cover-page {
  height: 100%
}

.quiz-container {
  display: none; /* Hidden until the quiz starts */
  font-size: 1.4em;
}

#progress-bar-background {
  height: 8px;
  background-color: #ccc;
  border-radius: 3px;
  overflow: hidden;
  width: 100%; /* Ensures the progress bar container is full width */
  margin-top: 50px; /* Add some space above the progress bar */
}

#progress-bar {
  height: 8px;
  margin-top: -8px; /* Pull the progress bar up to overlap the background */
  background-color: #000;
  border-radius: 3px;
  width: 0%; /* Ensures the progress bar container is full width */
}

.options-container label {
  width: 50px; /* Ensures each label has a fixed width */
  text-align: center;
  display: block; /* Makes sure the label is on a new line */
}

input[type="radio"] + label {
  padding: 10px;
  width: 25px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  flex: none; /* Prevents flexbox from adjusting the size */
}

.section-title {
  margin: 25px 0;
}

.question-container {
  align-items: center;
  justify-content: center;
}

.question-text {
  align-content: center;
  text-align: center;
  margin: 25px 0;
  width: 500px;
  height: 125px;
}

.options-container {
  user-select: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label, input[type="radio"]:hover + label {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 1.4em;
  margin-top: 20px;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #000;
  color: #fff;
}

#back-button {
  display: none; /* Initially hidden */
  font-size: 2em; /* Adjust the font size if needed */
  padding: 10px 15px; /* Adjust padding to better fit the arrow shape */
  background-color: transparent;
  border: none;
}

#back-button:hover {
  background-color: transparent; /* Maintain a clean look on hover */
  color: #000; /* Change as needed */
}

#results-page {
  display: none; /* Hidden until the results are shown */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.results-container {
  margin-top: 5px;
  width: 100%;
}

#results-subheader {
  text-align: center;
  font-weight: bold;
}

#results-header {
  display: inline-block;
  padding: 6px 20px 5px 20px;
  border-radius: 10px;
  border: 2px solid;
  margin-bottom: 25px;
  font-weight: bold;
}

.section-scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.section-score-row {
  font-family: 'halyard-display';
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.section-score-column {
  font-size: 1.2em;
}

#results-body {
  margin-top: 50px;
  text-align: left;
}

h1 {
  margin-bottom: 10px;
  font-size: 2em;
  /* font-family: 'halyard-display'; */
  /* text-transform: uppercase; */
}

h2{
  margin: 5px 0;
  font-family: 'halyard-display';
  text-transform: uppercase;
}

h3 {
  margin: 5px 0;
}

p {
  margin: 10px 0;
}

button {
  margin-top: 20px;
}

.section-score {
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid;
}

.low {
  /* background-color: #d13f0581; */
  color: #d13f05;
}

.average {
  /* background-color: #e4ba3c7c; */
  color: #e4ba3c;
}

.good {
  /* background-color: #63830c79; */
  color: #63830c;
}

.excellent {
  /* background-color: #0542147c; */
  color: #054214;
}
